.header {
    background-color: #117730; /* Darker shade for contrast */
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.header h1 {
    color: #ecf0f1; /* Lighter text for readability */
    margin: 0;
    font-size: 2em; /* Larger font size for emphasis */
    font-family: 'Lato', sans-serif; /* Change font for a modern look */
}
/* Add this to your Signup.css */



.signupForm {
    max-width: 300px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #aaa;
    background-color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1%;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #043c15;
    border: none;
    border-radius: 4px;
    color: Black;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.centerText{
    padding: 5px;
    text-align: center;
}